*{
   font-weight: 200;
}

html{
  
}

body{
   background: linear-gradient( 45deg, rgba(102, 57, 188, 0.52), rgba(164, 109, 255, 0.5), rgba(246, 209, 253, 0.51)) fixed;
   background-repeat: no-repeat;
   background-size: cover;
}

.navbar-brand-padding{
    padding-left: 15%;
    padding-right: 5%;
}

.my-jumbotron{
    margin-top: 15px;
    box-shadow: 2px 2px 20px 2px #bbb;  
    padding-bottom: 1%;
    margin-bottom: 1%;
}

#jumbotron-one{
     text-align: center;
}

#jumbotron-two{
     padding-top: 1%;
}


.my-h2{
    font-weight: 300;
}

.my-h4{
    font-weight: 300;
}

.my-h5{
    font-weight: 300;
}


.button-one{
    padding: 15px;
    text-align: left;
}


.btn-primary{color:#fff;background-color:teal;border-color:rgba(102, 57, 188, 1)}

.btn-primary:hover{color:#fff;background-color:rgba(102, 57, 188, 1);border-color:rgba(102, 57, 188, 1)}
.btn-primary:focus,.btn-primary.focus{box-shadow:0 0 0 .2rem rgba(102, 57, 188, 1)}
.btn-primary.disabled,.btn-primary:disabled{color:#fff;background-color:rgba(102, 57, 188, 1);border-color:rgba(102, 57, 188, 1)}
.btn-primary:not(:disabled):not(.disabled):active,.btn-primary:not(:disabled):not(.disabled).active,.show>.btn-primary.dropdown-toggle{color:#fff;background-color:rgba(102, 57, 188, 1);border-color:#000}
.btn-primary:not(:disabled):not(.disabled):active:focus,.btn-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(102, 57, 188, 1)}

.btn-outline-primary{color:rgba(102, 57, 188, 1);background-color:transparent;background-image:none;border-color:rgba(102, 57, 188, 1)}.btn-outline-primary:hover{color:#222;background-color:rgba(102, 57, 188, 1);border-color:rgba(102, 57, 188, 1)}
.btn-outline-primary:focus,.btn-outline-primary.focus{box-shadow:0 0 0 .2rem rgba(102, 57, 188, 1)}
.btn-outline-primary.disabled,.btn-outline-primary:disabled{color:teal;background-color:transparent}
.btn-outline-primary:not(:disabled):not(.disabled):active,.btn-outline-primary:not(:disabled):not(.disabled).active,.show>.btn-outline-primary.dropdown-toggle{color:#fff;background-color:rgba(102, 57, 188, 1);border-color:rgba(102, 57, 188, 1)}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-outline-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(102, 57, 188, 1)}

.custom{
    width: 78px !important;
    margin-top: 10px;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

@media only screen and (max-width: 576px) {
  body {
    font-size: 10px;
  }
}